[submodule "figures"]
	path = figures
	url = https://github.com/FaidonTsetsis/_gallery
[submodule "quotes"]
	path = quotes
	url = https://github.com/FaidonTsetsis/_quotes
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/FaidonTsetsis/bibliography
[submodule "extras"]
	path = extras
	url = https://github.com/FaidonTsetsis/extras
[submodule "text"]
	path = text
	url = https://github.com/FaidonTsetsis/text
[submodule "images"]
	path = images
	url = https://github.com/FaidonTsetsis/images
